<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
      {% include header.html %}
      <section id="about">
        {% include about.html %}
      </section>

      <div id="experience">
        {% include experience.html %}
      </div>
      <section id="timeline">
        {% include timeline.html %}
      </section>
      <section id="skills">
        {% include skills.html title="Programming Skills" %}
      </section>
      <section id="libraries">
        {% include libraries.html %}
      </section>
      <section id="Projects">
        {% include index.html title="Projects" %}
      </section>

      <!--<section id="projects2">
        {% include projects.html %}
      </section>-->
      {{ content }}
      {% include footer.html %}
  </body>
